<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <%- include ('./header') %>
        </header>
        <div class="jumbotron">
            <div class="jumbotron-element text-container">
                <h1>Total Battleship</h1>
                <p>Grupo 7</p>
            </div>
            <div class="jumbotron-element img-container">
                <img src="https://bootstrapmade.com/demo/themes/Rapid/img/intro-img.svg" class="header-img">
            </div>
        </div>
    </div>

    <%- include ('./team') %>
    <%- include ('./features') %>

    <footer>
        <%- include('./footer') %>
    </footer>
</body>

</html>



<style>
    body {
        background: #f5f8fd url("https://bootstrapmade.com/demo/themes/Rapid/img/intro-bg.jpg") center top no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    header {
        margin: 0;
        padding: 0;
    }

    .jumbotron {
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    .jumbotron-element {
        margin: auto;
        display: block;
    }

    .text-container {
        width: 45%;
    }

    .img-container {
        width: 55%;
    }

    .header-img {
        width: 100%;
        margin: auto;
        display: block;

    }
</style>