<div class="team-container container-fluid">
    <h1 class="section-title">Team</h1>
    <p class="section-description">Members behind the development of total battleship</p>
    <div class="team-image-container container">
        <img src="./ruben.jpg" class="team-image">
        <img src="./leo.jpg" class="team-image">
    </div>

</div>

<style>
    .team-container {
        background-color: rgb(35, 41, 42);
        padding: 3% 0;
        margin: 5% auto;
        border: none;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }

    .team-image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .team-image {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }

    .section-description {
        text-align: center;
        color: white;
        margin-bottom: 3%;
    }

    .section-title {
        text-align: center;
        font-weight: bold;
        color: white;
    }
</style>